a {
    color: inherit;
    text-decoration: none;
} 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding-right: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.button_container {
    display: flex;
    align-items: center;
}

.button_img {
    background-image: url(assets/lupa.png);
    background-size:cover;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.user_container {
    padding-left: 20px;
    padding-top: 20px;
    width: 35px;
    height: 35px;
}

.login_container {
    padding-top: 18px;
    padding-left: 5px;
    margin-right: auto;
}

nav {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

.slider {
    width: 60%;
    height: 350px;
    position: relative;
    margin: 0 auto;
}
  
.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.slider img:first-child {
    opacity: 1;
}
  
.slider img:nth-child(2) {
    opacity: 1;
}

.navigation-button {
    text-align: center;
    position: relative;
    margin-top: 10px;
  }
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}
.product img {
    max-width: 150px;
    margin-right: 20px;
}

.footer { 
    position: absolute; 
    background-color: #333;
    text-align: center;
    padding: 10px;
    left: 0; 
    width: 100%;
    height: 2.5rem;  
}

